<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital@1&display=swap" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
                crossorigin="anonymous"></script>
        <title>{{ title }}</title>
    </head>

    <body id="pokerPlanning">
        <header>{% include 'header.html' %}</header>
        <div class="grid grid-cols-12 gap-4" style="margin-top: 70pt;">
            {% include 'votes.html' %}  
            {% include 'players.html' %}  
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <script src="{{ url_for('static', filename='css/common.js') }}" defer></script>
</html>
