<div class="header-bg">
    <div class="overlay-bg">
        <div class="center-content">
            <div class="text-center-md">
                <h1 class="mb-6 text-5xl font-bold">{{ title }}</h1>
                <button id="copyInvite" hx-trigger="click" hx-swap="none" type="button" data-twe-ripple-init data-twe-ripple-color="light" class="copy-button">
                    Copy invite link
                </button>
            </div>
        </div>
    </div>
</div>
<div class="absolute justify-start flex items-center">
    <img src="{{ url_for('static', filename='images/' + profile_picture) }}" class="profile-picture" alt="Avatar" />
    <div class="ml-5">
        <h5 class="text-xl font-medium leading-tight">{{ user.name }}</h5>
        <small class="mb-4 mt-0 font-normal leading-normal">Persona role</small>
    </div>
</div>
