<div id="playersDetails" class="col-span-12 md:col-span-6">
    <div class="block rounded-lg bg-white p-6 text-surface shadow-secondary-1">
        <table class="player-table">
            <thead class="table-header">
                <tr>
                    <th scope="col" class="px-6 py-4">Name</th>
                    <th scope="col" class="px-6 py-4">Vote</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr id="playerRow_{{ player.id }}" class="table-row">
                    <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">{{ player.first_name }} {{ player.last_name }}</td>
                    <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10">
                        {% if reveal %}
                        <span class="vote-value">{{ player.vote }}</span>
                        {% elif player.vote %}
                        <span class="vote-status">Voted</span>
                        {% else %}
                            Yet to vote
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if not reveal %}
                <tr id="revealVotesRow" class="table-row">
                    <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10" colspan="2">
                        <button type="button" id="showVote" hx-get="/reveal-votes" hx-trigger="click" hx-target="#playersDetails" hx-swap="outerHTML" class="reveal-button">
                            Reveal
                        </button>
                    </td>
                </tr>
                {% endif %}
                {% if reveal %}
                <tr class="border-b border-success-200 dark:border-white/10 bg-success-100 text-neutral-800">
                    <td class="whitespace-nowrap border-e border-neutral-200 bg-[#D8F0EF] px-6 py-4 font-medium text-[#00857A] dark:border-white/10" colspan="2">
                        {{ average }}
                    </td>
                </tr>
                <tr hx-get="/" hx-trigger="click" hx-target="#pokerPlanning" hx-swap="outerHTML" hx-replace-url="true">
                    <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10" colspan="2">
                        <button type="button" id="newSession" class="new-session-button">
                            Create new session
                        </button>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
